* {
    font-family: Arial, Helvetica, sans-serif;
}
th, td {
    border: 1px solid rgb(255, 255, 255);
    padding: 0 10px 10px 10px;
    text-align: center;
    background-color: lightcyan;
}

th:first-child,
td:first-child {
    text-align: left;
    padding: 0 10px 10px 0;
}

table {
    border: 1px solid rgb(0, 0, 0);
    background-color: lightblue;


}

